<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <h1>Todo list</h1>
    <table>
        <tr>
            <th>completed</th>
            <!-- <th>userID</th> -->
            <th>dueDate</th>
            <th>task</th>
            <th>completed</th>
        </tr>
        <% for(let iter = 0; iter < todos.length; iter++) { %>
            <tr>
                <td>
                    <input type = "checkbox" class = "markCompleted" todoID =<%=todos[iter].todoID%>/>
                </td>
                <!-- <td><%=todos[iter].userID%></td> -->
                <td><%=todos[iter].dueDate.toISOString().slice(0,10)%></td>
                <td><%=todos[iter].task%></td>
                <td><%=todos[iter].completed%></td>
                <td>
                    <button class = "deleteTodo" todoID =<%=todos[iter].todoID%>>delete</button>
                </td>
            </tr>
            <% } %>
        </table>
        <h3>Add a new todo</h3>
        <table>
            <tr>
                <th>dueDate</th>
                <th>task</th>
            </tr>
            <form action = "http://localhost:3000/todo" method = 'POST'>
                <input type = "hidden" name = "_csrf" value = "<%=csrfToken%>" />
                <tr>
                    <td>
                        <input name = "dueDate" type = "date" required/>
                    </td>
                    <td>
                        <input name = "task" type = "text" required/>
                    </td>
                    <td>
                        <button type = "submit">add</button>
                    </td>
                </tr>
            </form>
        </table>
        <a href ="/logout">
            <button>logout</button>
        </a>

        <script>
        let completedCheck = document.querySelectorAll(".markCompleted");
        completedCheck.forEach((button) => {
            button.addEventListener('click', async (event) => {
                let todoID = event.target.getAttribute("todoID");
                try {
                    let response = await fetch(`http://localhost:3000/todo/${todoID}`,{
                        method : 'PATCH',
                        headers: { 'Content-Type': 'application/json' },
                        body : JSON.stringify({ "_csrf" : "<%=csrfToken%>"}) 
                    });
                    if(response.ok) {
                        window.location.href = (await response.json()).redirectURL;
                    }
                }
                catch(err) {
                    console.log("couldn't mark as completed, try again later",err);
                }
            })
        });

        let deleteButton = document.querySelectorAll(".deleteTodo");
        deleteButton.forEach( button => {
            button.addEventListener('click', async (event) => {
                let todoID = event.target.getAttribute("todoID");
                try {

                    let response = await fetch(`http://localhost:3000/todo/${todoID}`, {
                        method : 'DELETE',
                        headers: { 'Content-Type': 'application/json' },
                        body : JSON.stringify({ "_csrf" : "<%=csrfToken%>"})                        
                    });

                    if (response.ok) {
                        window.location.href = (await response.json()).redirectURL;
                    }
                    else {
                        console.log("couldn't delete todo, try again later");
                    }
                }
                catch(err) {
                    console.log("couldn't delete todo, try again later",err);
                }
            });
        });
    </script>
</body>
</html>